<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>To_DVinsert</display-name>
    <servlet-name>To_DVinsert</servlet-name>
    <servlet-class>Servlet.To_DVinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>To_DVinsert</servlet-name>
    <url-pattern>/To_DVinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DV_Dodvinsert</display-name>
    <servlet-name>DV_Dodvinsert</servlet-name>
    <servlet-class>Servlet.DV_Dodvinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DV_Dodvinsert</servlet-name>
    <url-pattern>/DV_Dodvinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DV_ToDvlist</display-name>
    <servlet-name>DV_ToDvlist</servlet-name>
    <servlet-class>Servlet.DV_ToDvlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DV_ToDvlist</servlet-name>
    <url-pattern>/DV_ToDvlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>To_head1Servlet</display-name>
    <servlet-name>To_head1Servlet</servlet-name>
    <servlet-class>Servlet.To_head1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>To_head1Servlet</servlet-name>
    <url-pattern>/To_head1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_DoHeadInsert</display-name>
    <servlet-name>HEAD_DoHeadInsert</servlet-name>
    <servlet-class>Servlet.HEAD_DoHeadInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_DoHeadInsert</servlet-name>
    <url-pattern>/HEAD_DoHeadInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_ToHeadInsert</display-name>
    <servlet-name>HEAD_ToHeadInsert</servlet-name>
    <servlet-class>Servlet.HEAD_ToHeadInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_ToHeadInsert</servlet-name>
    <url-pattern>/HEAD_ToHeadInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LIST</display-name>
    <servlet-name>LIST</servlet-name>
    <servlet-class>Servlet.LIST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIST</servlet-name>
    <url-pattern>/LIST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LIST_ToListServlet</display-name>
    <servlet-name>LIST_ToListServlet</servlet-name>
    <servlet-class>Servlet.LIST_ToListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIST_ToListServlet</servlet-name>
    <url-pattern>/LIST_ToListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_ToHeadMain</display-name>
    <servlet-name>HEAD_ToHeadMain</servlet-name>
    <servlet-class>Servlet.HEAD_ToHeadMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_ToHeadMain</servlet-name>
    <url-pattern>/HEAD_ToHeadMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_DoHeadMain</display-name>
    <servlet-name>HEAD_DoHeadMain</servlet-name>
    <servlet-class>Servlet.HEAD_DoHeadMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_DoHeadMain</servlet-name>
    <url-pattern>/HEAD_DoHeadMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_DoHeadUpdate</display-name>
    <servlet-name>HEAD_DoHeadUpdate</servlet-name>
    <servlet-class>Servlet.HEAD_DoHeadUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_DoHeadUpdate</servlet-name>
    <url-pattern>/HEAD_DoHeadUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemsInsert</display-name>
    <servlet-name>ITEM_DoItemsInsert</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemsInsert</servlet-name>
    <url-pattern>/ITEM_DoItemsInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_ToItemsInsert</display-name>
    <servlet-name>ITEM_ToItemsInsert</servlet-name>
    <servlet-class>Servlet.ITEM_ToItemsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_ToItemsInsert</servlet-name>
    <url-pattern>/ITEM_ToItemsInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_ToItemsMain</display-name>
    <servlet-name>ITEM_ToItemsMain</servlet-name>
    <servlet-class>Servlet.ITEM_ToItemsMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_ToItemsMain</servlet-name>
    <url-pattern>/ITEM_ToItemsMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemMain</display-name>
    <servlet-name>ITEM_DoItemMain</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemMain</servlet-name>
    <url-pattern>/ITEM_DoItemMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NPI_DoItemsUpdate</display-name>
    <servlet-name>NPI_DoItemsUpdate</servlet-name>
    <servlet-class>Servlet.NPI_DoItemsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NPI_DoItemsUpdate</servlet-name>
    <url-pattern>/NPI_DoItemsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemsUpdate</display-name>
    <servlet-name>ITEM_DoItemsUpdate</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemsUpdate</servlet-name>
    <url-pattern>/ITEM_DoItemsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LIST_DoListServlet</display-name>
    <servlet-name>LIST_DoListServlet</servlet-name>
    <servlet-class>Servlet.LIST_DoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIST_DoListServlet</servlet-name>
    <url-pattern>/LIST_DoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>Servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MIS_ToMisInsertsertvlet</display-name>
    <servlet-name>MIS_ToMisInsertsertvlet</servlet-name>
    <servlet-class>Servlet.MIS_ToMisInsertsertvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIS_ToMisInsertsertvlet</servlet-name>
    <url-pattern>/MIS_ToMisInsertsertvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_ToNoConfirmMsg</display-name>
    <servlet-name>ITEM_ToNoConfirmMsg</servlet-name>
    <servlet-class>Servlet.ITEM_ToNoConfirmMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_ToNoConfirmMsg</servlet-name>
    <url-pattern>/ITEM_ToNoConfirmMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_ToHeadMain2</display-name>
    <servlet-name>HEAD_ToHeadMain2</servlet-name>
    <servlet-class>Servlet.HEAD_ToHeadMain2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_ToHeadMain2</servlet-name>
    <url-pattern>/HEAD_ToHeadMain2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_ToItemsMain2</display-name>
    <servlet-name>ITEM_ToItemsMain2</servlet-name>
    <servlet-class>Servlet.ITEM_ToItemsMain2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_ToItemsMain2</servlet-name>
    <url-pattern>/ITEM_ToItemsMain2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemMain2</display-name>
    <servlet-name>ITEM_DoItemMain2</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemMain2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemMain2</servlet-name>
    <url-pattern>/ITEM_DoItemMain2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_ToHeadDeleteServlet</display-name>
    <servlet-name>HEAD_ToHeadDeleteServlet</servlet-name>
    <servlet-class>Servlet.HEAD_ToHeadDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_ToHeadDeleteServlet</servlet-name>
    <url-pattern>/HEAD_ToHeadDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HEAD_ToHeadMainDelete</display-name>
    <servlet-name>HEAD_ToHeadMainDelete</servlet-name>
    <servlet-class>Servlet.HEAD_ToHeadMainDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HEAD_ToHeadMainDelete</servlet-name>
    <url-pattern>/HEAD_ToHeadMainDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemComm</display-name>
    <servlet-name>ITEM_DoItemComm</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemComm</servlet-name>
    <url-pattern>/ITEM_DoItemComm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_DoItemCommInsert</display-name>
    <servlet-name>ITEM_DoItemCommInsert</servlet-name>
    <servlet-class>Servlet.ITEM_DoItemCommInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_DoItemCommInsert</servlet-name>
    <url-pattern>/ITEM_DoItemCommInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExport</display-name>
    <servlet-name>ExcelExport</servlet-name>
    <servlet-class>Servlet.ExcelExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExport</servlet-name>
    <url-pattern>/ExcelExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExportServlet</display-name>
    <servlet-name>ExcelExportServlet</servlet-name>
    <servlet-class>Servlet.ExcelExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExportServlet</servlet-name>
    <url-pattern>/ExcelExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToZhuanAnXinXi</display-name>
    <servlet-name>ToZhuanAnXinXi</servlet-name>
    <servlet-class>Servlet.ToZhuanAnXinXi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToZhuanAnXinXi</servlet-name>
    <url-pattern>/ToZhuanAnXinXi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShaiXuanCuoWuDianServlet</display-name>
    <servlet-name>ShaiXuanCuoWuDianServlet</servlet-name>
    <servlet-class>Servlet.ShaiXuanCuoWuDianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShaiXuanCuoWuDianServlet</servlet-name>
    <url-pattern>/ShaiXuanCuoWuDianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SouSuoZhuanAnXinXiServlet</display-name>
    <servlet-name>SouSuoZhuanAnXinXiServlet</servlet-name>
    <servlet-class>Servlet.SouSuoZhuanAnXinXiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SouSuoZhuanAnXinXiServlet</servlet-name>
    <url-pattern>/SouSuoZhuanAnXinXiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToChaKanZhuanAnXinXiServlet</display-name>
    <servlet-name>ToChaKanZhuanAnXinXiServlet</servlet-name>
    <servlet-class>Servlet.ToChaKanZhuanAnXinXiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToChaKanZhuanAnXinXiServlet</servlet-name>
    <url-pattern>/ToChaKanZhuanAnXinXiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITEM_XiaoGuoQueRen</display-name>
    <servlet-name>ITEM_XiaoGuoQueRen</servlet-name>
    <servlet-class>Servlet.ITEM_XiaoGuoQueRen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITEM_XiaoGuoQueRen</servlet-name>
    <url-pattern>/ITEM_XiaoGuoQueRen</url-pattern>
  </servlet-mapping>
</web-app>